<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <header>
        <div class="flex">
            <small>
                Blog
            </small>
            <div>
                <a href="/views/blogApp.ejs">Home</a>
            </div>
        </div>
    </header>
    <div class="container">
        <form action="/users" method="post">
            <input type="text" name="titel" placeholder="enter the titel">
            <input type="text" name="description" placeholder="enter description">
            <input type="tag" name="tags" placeholder="tags">
            <input type="text" name="author" placeholder="enter author">
            <input type="number" name="phoneNumber" placeholder="enter thre number">
            <input type="submit" value="sumbit">
        </form>
    </div>
    <footer>

    </footer>
</body>
</html>